html{
    scroll-behavior: smooth;
}

.header{

    background: rgb(249, 71, 83);
   
    #probicabre{
        
        transition: 0.3s ease-in-out;
    }
    .navbar{
        
        background: rgb(249, 71, 83);
        
    }
    
    .navbar-decoration{
        &:hover{
            text-decoration: underline;
        }
    }

    .button{
        background: transparent;
        color: #fff;
        padding: 12px 16px ;
        border-radius: 30px;
        border: 2px solid #fff;
        font-size: 14px;
        font-weight: 300;
        &:hover{
        background: #fff;
        color: #000;
        }

    }   
    
    .logo_none{

        img{
    
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }


.probicabree{
    padding: 5px 100px ;
    background: rgb(24, 19, 19);
}
    
}











    