.border_card{
    background: $slider-color;
    border-radius: 20px;
    border-color: $slider-color;
    cursor: pointer;
    &:hover{
        transform: translateY(-10px);
    }

    .font_size{
        font-size: 14px;

        @include media-breakpoint-down(md){
            padding-left: 2rem;
            padding-right: 2rem;
            text-align: center;
         }

         @include media-breakpoint-down(sm){
            padding-left: 1rem;
            padding-right: 0.5rem;
            text-align: center;
         }
    }


    .people-class{
        @include media-breakpoint-down(md){
            display: flex;
            flex-direction: column;
           
        }
    
        .people-names{

            @include media-breakpoint-up(lg){
            display: block;
            font-size: 0.8rem;
            margin-bottom: 1rem;
            }
    
        @include media-breakpoint-up(sm){
            margin-top: 1rem;
            
    
       }

     
    }
}




    
    .img_size{
        border-radius: 50%;
    }
    
        &.bottom {
        box-shadow: 0px 15px 10px -15px #111;    
    }
}

  

